<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<!--@DwTopLogo-->
		</td>
		<td>
			<!--@DwTopGraphic-->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<!--@DwPrinterfriendly-->&nbsp;<!--@DwSendToFriend-->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<!--@DwLegend-->
		</td>
	</tr>
	<tr>
		<td valign="top">
			<!--@DwLeftNavigation-->
		</td>
		<td valign="top">
			<!--@DwContent-->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<!--@DwFooter-->
		</td>
	</tr>
</table>