<table cellpadding="0" cellspacing="0" border="0" id="DwMain">
	<tr>
		<td id="DwTopGraphic" rowspan="2" valign="top">
			<!--@DwTopLogo-->
			<!--@DwPrinterfriendly-->&nbsp;<!--@DwSendToFriend-->
		</td>
		<td>
			<!--@DwTopGraphic-->
		</td>
	</tr>
	<tr>
		<td>
			<!--@DwTopNavigation-->
		</td>
	</tr>
	<tr>
		<td valign="top" rowspan="2" id="DWLeft" valign="top">
			<!--@DwLeftNavigation-->
		</td>
		<td>
			<!--@DwLegend-->
		</td>
	</tr>
	<tr>
		<td valign="top">
			<!--@DwContent-->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<!--@DwFooter-->
		</td>
	</tr>
</table>
		